/* Modal */


input {
  background-color: #fff;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
  border: none;
  height: 30px;
}

select {
  background-color: #fff;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
  border: none;
  height: 30px;
}

.container-title-cross {
  display: flex;
  flex-direction: row;
}

.container-modal {
  background-color: black;
  height: 59px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.container-modal button {
  color: #fff;
  text-align: center;
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background-color: transparent;
}

#addPhotoButton {
  color: white;
  background: #1d6154;
  border-radius: 60px;
  padding: 6px 14px;
  font-family: Syne;
  font-size: 14px;
  font-style: normal;
}

.container-button-modal {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.modal {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.titlemodal {
  color: #000;
  text-align: center;
  font-family: "Work Sans";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 46px;
  margin-top: 30px;
}

.modal-wrapper {
  overflow: auto;
  background-color: #fff;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
  width: 630px;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.js-modal-close {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.close-icon {
  font-size: 20px; /* Taille de la croix */
  color: #555; /* Couleur de la croix */
  position: absolute; /* Position absolue par rapport à la modale */
  top: 10px; /* Espacement du haut de la modale */
  right: 10px; /* Espacement de la droite de la modale */
}

.modal-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  gap: 25px;
}

.modal-content > div {
  position: relative;
}

.modal-content > div > button {
  position: absolute;
  top: 4px;
  right: 8px;
  background-color: black;
}

.modal-content > div > img {
  width: 79px;
  height: 104px;
  margin-right: 4px;
  position: relative;
  object-fit: cover;
}

.separator {
  border-top: 1px solid #ccc;
  margin-top: 67px;
  margin-bottom: 38px;
}

.container-button-add {
  display: flex;
  justify-content: center;
}

.button-add {
  border-radius: 60px;
  background-color: #1d6154;
  color: white;
  padding: 10px 10px;
}

.modify-projet {
  display: flex;
  flex-direction: row;
  background-color: black;
}

#uploadForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container-preview {
  width: 420px;
  height: 169px;
  flex-shrink: 0;
  border-radius: 3px;
  background-color: #e8f1f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding-top: 16px;
  padding-bottom: 18px;
}

.addImgButton {
  border-radius: 50px;
  background: #cbd6dc;
  padding: 6px 10px;
  display: flex;
}

.uploadButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#uploadButton {
  border-radius: 60px;
  background-color: #a7a7a7;
  color: white;
  padding: 6px 10px;
  width: 237px;
  height: 36px;
  border: none;
  text-align: center;
}

/* #imagePreview {
  padding-top: 16px;
} */
